.Button {
  background: #4a7cff;
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 60px;
  color: #fff;
  font-size: 18px;
  width: 100%;
  height: 100%;
  transition: background 0.3s ease;
}

.Button:disabled {
  background: #ced6f7;
  cursor: not-allowed;
}

.Button:not(:disabled):hover {
  background: #2e5bff;
}

.Button:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .Button {
    font-size: var(--font-size--small-mobile);
  }
}
