:root {
  --Button-font-size: 18px;
  --Button-font-size-mobile: 20px;
  --Button-border-radius: 60px;
  --Button-padding: 15px;
  --Button-padding-mobile: 10px 40px;
}

.Button {
  box-sizing: border-box;
  background: #4a7cff;
  border: none;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0; /* Remove padding from the button itself */
  border-radius: var(--Button-border-radius);
  color: #fff;
  min-width: 100%;
  min-height: 100%;
  transition: background 0.3s ease;
  white-space: nowrap;
  padding: var(--Button-padding);
  font-size: var(--Button-font-size);
}

.Button:disabled {
  background: #ced6f7;
  cursor: not-allowed;
}

.Button:not(:disabled):hover {
  background: #2e5bff;
}

.Button:focus {
  outline: none;
}

@media screen and (max-width: 1000px) {
  .Button {
    font-size: var(--Button-font-size-mobile);
    padding: var(--Button-padding-mobile);
  }
}
