.NavLink__container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  cursor: pointer;
}

.NavLink {
  text-decoration: none;
  color: var(--color-text);
  font-size: 16px;
}

@media screen and (max-width: 1000px) {
  .NavLink {
    font-size: 20.8px;
  }
}
