.SignupForm__container {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}

.SignupForm__row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.SignupForm__submit {
  margin-top: 20px;
  width: 144px;
  height: 56px;
}

.SignupForm__terms {
  margin-top: 25px;
  padding-bottom: 20px;
  font-size: 14px;
}

.SignupForm__terms > a {
  color: var(--color-text);
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .SignupForm__terms {
    font-size: 10px;
  }
}
