.Input__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* .Input__container--with-select {
  display: flex;
  flex-direction: row;
}

.Input__container--with-select > .Input__field {
  width: 80%;
  border-left: 50px;
} */

.Input__label {
  font-size: var(--font-size--small);
}

.Input__container {
  cursor: text;
  border: 1px solid var(--color-border--primary);
  border-radius: var(--border-radius--primary);
  height: 56px;
  width: 100%;
  margin-top: 8px;
  transition: border-color 0.2s ease;
  background: #fdfdff;
  position: relative;
}

.Input__container--focused {
  border-color: var(--color-text);
}

.Input__field {
  background: transparent;
  border: none;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.Input__field--with-select {
  width: 80%;
  border-right: 1px solid var(--color-border--primary);
}

.Input__field:focus {
  outline: none;
}

.Input__error {
  color: var(--color-error);
  font-size: var(--font-size--small);
  margin-top: 8px;
  height: 20px;
  opacity: 1;
  width: 100%;
  white-space: nowrap;
  transition: opacity 250ms ease-in-out;
}

.Input__error--hidden {
  opacity: 0;
}

.Input__error--visible {
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .Input__container {
    height: 67.2px;
  }

  .Input__label {
    font-size: var(--font-size--small-mobile);
  }

  .Input__error {
    font-size: var(--font-size--small-mobile);
  }
}
