*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-background: #f8f8fb;
  --color-text: #282828;
  --color-error: #ff4e4e;
  --color-border--primary: #b1b7d6;
  --border-radius--primary: 8px;
  --font-size--small: 16px;
  --font-size--small-mobile: 12px;
  --header-font-size: 35px;
  --header-font-size--mobile: 30px;
  --sub-header-font-size: 20px;
  --sub-header-font-size--mobile: 20px;
  --header-font-weight: 700;
  --sub-header-font-weight: 300;
  --header-font-weight--mobile: 700;
  --sub-header-font-weight--mobile: 400;
  --font-weight--regular: 400;
  --font-weight--bold: 700;

  font-family: 'DM Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.inner-column {
  display: flex;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

/* https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px white inset !important;
}
