.SignupView__container {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  /* margin-left: 50px; */
  padding: 20px 50px;
}

.SignupView__title {
  /* font-size: 35px; */
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
  white-space: nowrap;
}

.SignupView__subtitle {
  /* font-size: 20px; */
  font-size: var(--sub-header-font-size);
  font-weight: var(--sub-header-font-weight);
}

.SignupView__form {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .SignupView__container {
    margin-left: 0;
    padding: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .SignupView__container {
    width: 100%;
  }

  .SignupView__title {
    /* font-size: 22px; */
    font-size: var(--header-font-size--mobile);
    font-weight: var(--header-font-weight--mobile);
  }

  .SignupView__subtitle {
    /* font-size: 16px; */
    font-size: var(--sub-header-font-size--mobile);
    font-weight: var(--sub-header-font-weight--mobile);
  }
}

@media screen and (max-width: 420px) {
  .SignupView__title {
    white-space: normal;
    font-size: clamp(7vw, 5vw, var(--header-font-size--mobile));
  }

  .SignupView__subtitle {
    white-space: normal;
    font-size: clamp(5vw, 4vw, var(--sub-header-font-size--mobile));
  }

  .SignupView__container {
    /* padding: 10px; */
  }
}

@media screen and (max-width: 400px) {
  .SignupView__container {
    /* width: 98%; */
    /* padding: 0; */
  }
}
